body {
  font-family: Arial;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
}
